
body
{
    margin: 2px;
    margin-top: 50px;
    background-color: aliceblue;
}

h4, h3
{
    margin: 2%;
}

.container
{
    text-align: center;
    font-size: 1.4rem
}

.output
{
    margin-left: 578px;
    margin-top: 60px;
    font-size: 1.4rem;
}

.input
{
    padding: 5px;
    border: 2px solid rgb(174, 137, 89);
    border-radius: 4px;
}

.btn
{
    background-color: rgb(238, 212, 168);
    padding: 5px 13px 5px 13px;
    border: 2px solid rgb(174, 137, 89);
    border-radius: 4px;
}