.main
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
    /* margin-bottom: 10%; */
}
.card
{
    align-items: center;
    width: 250px;
    margin: auto;
    padding: 10px 20px;
    border: 2px;
    border-color: #d3d3d3;
    border-style: solid;
    box-shadow: 5px 5px 5px 5px #888888;
}
.card img{
    width: 100%;
}